.icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 1.6em;
}

input, textarea {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
}

textarea {
	width: 100%;
}

#registration {
	text-align: left;
	font-size: 1.1em;
	overflow:hidden;
	background-color: #6b747e;
	line-height: 1.5em;
	color: white;
	.content {
		a {
			color: $light-blue;
		}
		@media (min-width: $media-small) {
			width: 50%;
		}
	}

}

.ss-form-question {
	margin-bottom: 1em;
}

.registration-intro {
	text-align: center;
	padding-top: 3em;
}

h2 {
	margin: 0px;
}

label {
	font-weight: normal;
}

li {
	list-style-type: none;
}

textarea {
	resize: none;
}

.ss-required-asterisk {
	color: #F66E6E;
}

.ss-secondary-text, .ss-section-description {
	font-style: italic;
	font-size: 0.9em;
}

.required-message {
	display: none;
}

.bg {
	position: relative;
	min-height: 900px;
	min-width: 100%;
	-webkit-filter: blur(2px);
	z-index: -1;
}

.icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 1.6em;
}
