@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

$yellow: #FFC747;
$blue: #479AFF;
$light-blue: #B5D8FF;
$media-small: 480px;

body {
	margin: 0;
	padding: 0;
	background-color: #EAEAEA;
	font-family: 'Source Sans Pro';
}

.yellow {
	color: $yellow;
}

.logo {
	color: #F7F7F7;
	font-family: Montserrat;
	font-size: 3.2em;
	font-weight: bold;
	line-height: 0.6em;
	@media (max-width: $media-small) {
		font-size: 2.1em;
	}
}

a {
	color: $blue;
}

.intro {
	font-size: 20px;
	text-align: center;
	padding: 220px 50px;
	margin: 0 auto;
	background-color: rgba(64,64,64,0.6);
	font-family: 'Source Sans Pro';
	a {
		color: $light-blue;
	}
	@media (max-width: $media-small) {
		font-size: 18px;
		padding: 40px 15px;
	}
}

.tagline {
	font-size: 0.24em;
	letter-spacing: 0.12em;
	margin: 0;
	color:#E0E0E0;
	@media (max-width: $media-small) {
		font-size: 0.32em;
	}
}

section {
	font-size: 20px;
	background-color: #EAEAEA;
	color: #444;
	padding-bottom: 2em;
	.block-img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	@media (max-width: $media-small) {
		font-size: 18px;
	}
}

.content {
	width: 60%;
	margin: 0 auto;
	line-height: 1.4em;
	@media (max-width: $media-small) {
		width: 90%;
	}
}

#description {
	color: #E0E0E0;
	p {
		margin: 0.1em;
		@media (max-width: $media-small) {
			margin: 0.6em;
		}
	}
}

.bg {
	position: relative;
	min-height: 900px;
	min-width: 100%;
	-webkit-filter: blur(2px);
	z-index: -1;
}

.icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 1.6em;
}

.img-container {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	z-index: -1;
}

header {
	background-color: $yellow;
	font-family: Montserrat;
	padding: 1.6em 0;
	text-align: center;
	h1 {
		margin: 0;
		font-size: 2.4em;
		@media (max-width: $media-small) {
			font-size: 1.2em;
			margin: 0.4em;
		}
	}
}

.button {
	border-radius: 5px;
	text-decoration: none;
	border: none;
	font-family: 'Source Sans Pro';
	color: #EAEAEA;
	&:hover { 
		cursor: pointer;
		color: #F9F9F9;
	}
	&:active {
		box-shadow: inset 0 1px 7px #444;
	}
	@media (max-width: $media-small) {
		color: #F9F9F9;
	}
}

#main-button {
	padding: 1.2em;
	display: inline-block;
	background-color: rgba($blue, 0.8);
	font-family: Montserrat;
	font-size: 1.1em;
	margin-top: 1.6em;
	letter-spacing: -0.01em;
	transition: color 300ms;
	@media (max-width: $media-small) {
		color: #F9F9F9;
		font-size: 1em;
		margin-top: 15px;
	}
}


#mc_embed_signup_scroll {
	font-family: 'Source Sans Pro';
	label {
		font-size: 1em;
		line-height: 1.4em;
		display: block;
		margin: 1em 0;
	}
	width: 100%;
}

#mce-EMAIL {
	font-family: 'Source Sans Pro';
	font-size: 1em;
	padding: 1em;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 0.6em;
}

#mc-embedded-subscribe {
	background-color: $blue;
	padding: 1em;
	font-weight: bold;
	font-size: 1em;
	width: 100%;
}