@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

$yellow: #FFC747;

body {
	margin: 0;
	padding: 0;
	// background-color: #F9F9F9;
	background-color: #EAEAEA;
	font-family: 'Source Sans Pro';
}

// $yellow: #FFCE5B;
// $yellow: #FFBD23;
// $yellow: #FFBE28;

// $blue: #4391E0;
$blue: #479AFF;
$light-blue: #B5D8FF;

.yellow {
	color: $yellow;
	// color: white;
	// color: #EBEBF4;
}

.logo {
	// font-family: 'Source Sans Pro';
	color: #F7F7F7;

	// color: #0A0A0A;
	font-family: Montserrat;
	font-size: 3.2em;
	font-weight: bold;
	line-height: 0.6em;
	// margin-bottom: 0.4em;
	// -0.02em
}

a {
	color: $light-blue;
}


#intro {
	font-size: 26px;
	text-align: center;
	padding: 260px 50px;
	// padding-top: 150px;
	// background-color: white;
	margin: 0 auto;
	// margin-top: 100px; 
	// width: 60%;
	// background-color: rgba(242, 242, 242, 0.8);
	background-color: rgba(32,32,32,0.8);
	// background-color: #fcfcfc;
	font-family: 'Source Sans Pro';
}

section {
	font-size: 22px;
	height: 500px;
	background-color: #EAEAEA;
	width: 100%;
	color: #444;
}

#description {
	// color: #222;
	color: #E0E0E0;

	// line-height: 0.4em;
	p {
		margin: 0.1em;
	}
}

nav {
	height: 80px;
	z-index: 1;
	background-color: $light-blue;
	position: relative;
	// background-color: #3371B7;
	box-shadow: 0 2px 14px rgba(128, 128, 128, 0.4);
	a {
		color: white;
	}
}

img {
	// width: 100%;
}

.bg {
	position: relative;
	min-height: 800px;
	min-width: 100%;
	-webkit-filter: blur(2px);
	z-index: -1;
}

.icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 1.6em;
}

.img-container {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	z-index: -1;
}

header {
	color: #222;
	background-color: $light-blue;
	padding: 1em 0;
	h1 {
		margin: 0;
		font-size: 2.4em;
	}
	text-align: center;
}

button {
	// color: #444;
	// color: $yellow;
	color: #F9F9F9;
	border: none;
	background-color: $blue;
	font-family: Montserrat;
	font-size: 1.2em;
	border-radius: 5px;
	margin-top: 1.6em;
	padding: 1.2em;
	// font-weight: bold;
	letter-spacing: -0.01em;
	box-shadow: inset 0 -3px 7px #444;
}