@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
body {
  margin: 0;
  padding: 0;
  background-color: #EAEAEA;
  font-family: 'Source Sans Pro'; }

.yellow {
  color: #ffc747; }

.logo {
  color: #F7F7F7;
  font-family: Montserrat;
  font-size: 3.2em;
  font-weight: bold;
  line-height: 0.6em; }

a {
  color: #479aff; }

#intro {
  font-size: 26px;
  text-align: center;
  padding: 260px 50px;
  margin: 0 auto;
  background-color: rgba(64, 64, 64, 0.6);
  font-family: 'Source Sans Pro'; }
  #intro a {
    color: #b5d8ff; }

section {
  font-size: 24px;
  background-color: #EAEAEA;
  color: #444;
  padding-bottom: 2em; }
  section .block-img {
    display: block;
    margin: 0 auto;
    width: 100%; }

.content {
  width: 60%;
  margin: 0 auto;
  line-height: 1.4em; }

#description {
  color: #E0E0E0; }
  #description p {
    margin: 0.1em; }

nav {
  height: 80px;
  z-index: 1;
  background-color: #b5d8ff;
  position: relative;
  box-shadow: 0 2px 14px rgba(128, 128, 128, 0.4); }
  nav a {
    color: white; }

.bg {
  position: relative;
  min-height: 900px;
  min-width: 100%;
  -webkit-filter: blur(2px);
  z-index: -1; }

.icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 1.6em; }

.img-container {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  z-index: -1; }

header {
  background-color: #ffc747;
  font-family: Montserrat;
  padding: 1.6em 0;
  text-align: center; }
  header h1 {
    margin: 0;
    font-size: 2.4em; }

.button {
  border-radius: 5px;
  text-decoration: none;
  border: none;
  font-family: 'Source Sans Pro'; }
  .button:hover {
    cursor: pointer; }
  .button:active {
    box-shadow: inset 0 1px 7px #444; }

#main-button {
  padding: 1.2em;
  display: inline-block;
  background-color: #479aff;
  font-family: Montserrat;
  font-size: 1.2em;
  margin-top: 1.6em;
  letter-spacing: -0.01em;
  transition: color 300ms; }
  #main-button:hover {
    color: #F9F9F9; }

#mc_embed_signup {
  font-size: 24px; }

#mc_embed_signup_scroll {
  font-family: 'Source Sans Pro';
  width: 100%; }
  #mc_embed_signup_scroll label {
    font-size: 1em;
    line-height: 1.4em;
    display: block;
    margin: 1em 0; }

#mce-EMAIL {
  font-family: 'Source Sans Pro';
  font-size: 1em;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.6em; }

#mc-embedded-subscribe {
  background-color: #479aff;
  color: #b5d8ff;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  width: 100%; }
